.DS_Store
app/wp-config-local.php
app/wp-config-playground.php
app/wp-config-production.php
app/wp-content/uploads

app/angular/node_modules
app/angular/app/bower_components

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
intermediate
.idea
cache
app/wpzest.sublime-workspace
