<header class="header clearfix">

	<div class="header-wrap">
		<cm-projects class="projects"></cm-projects>
		
		<div class="profile wr5 caption">
			<p>
				Citrus Mist is a design and
				development studio of Milos Soskic. 
			</p>
			<p>
				The studio specialises in graphic and interactive
				although services on offer aren’t limited 
				only to those disciplines.
			</p>
			<p>
				By experimenting, tinkering and challenging [something, something]
			</p>
		</div>
		
		<span class="w2-w3 ir sprite sprite--logotype header-logotype"></span>
		<span class="wr5 sprite sprite--logomark header-logomark"></span>
	</div>

	<div class="w6 clearfix header-logomark2">
		<a href="" ng-href="/">
			<object data="/images/mark-3.0.svg" type="image/svg+xml" class="header-logomark2-img"></object>
		</a>
	</div>
	<cm-header-toggle class="header-toggle"></cm-header-toggle>
</header>