<header class="header clearfix">

	<div class="mt-show w-hide header-identity mt-padinfull clearfix">
		<div class="header-logotype">
			<div class="header-logotype-wrap">
				<object data="/images/logotype.svg" type="image/svg+xml" class="header-logotype-img"></object>
			</div>
		</div>
		<div class="header-logomark">
			<div class="header-logomark-wrap">
				<cm-logomark class="header-logomark-img" href="/"></cm-logomark>
			</div>		
		</div>
		<cm-header-toggle class="mt-all mt-padinfull caption header-toggle"></cm-header-toggle>
	</div>

	<div class="header-wrap mt-padinfull">

		<div class="mt-hide header-identity clearfix">
			<div class="w2-w4 ir header-logotype">
				<div class="header-logotype-wrap">
					<object data="/images/logotype.svg" type="image/svg+xml" class="header-logotype-img"></object>
				</div>
			</div>
			<div class="wr5 header-logomark">
				<div class="header-logomark-wrap">
					<cm-logomark class="header-logomark-img"></cm-logomark>
				</div>		
			</div>
		</div>
	
		<div class="header-profile mt3 wr5 caption">

			<div class="mt-hide">
				<p>
					Citrus Mist is a graphic and interaction design studio.
					We design identities, user interfaces, digital and 
					printed communication.
				</p>
				<p>
					We love experimenting and tinkering with new technologies 
					and techniques. The website you are now seeing is 
					itself an experiment so please forgive us if at times 
					things seem a little “shaky.” 
				</p>
				<p>
					If something seems clearly wrong and you’d like to tell us 
					or you’d just like to get in touch with a human you can do 
					so below.
				</p>
			</div>

			<div class="mt-show w-hide">
				<p>
					Citrus Mist is a graphic and interaction design studio.
					We create design identities, user interfaces, digital and 
					printed communication
				</p>
			</div>

			<a class="header-profile-cta" href="mailto:milos@citrus-mist.com">__get in touch</a>
		</div>

		<nav>
			<cm-projects class="projects"></cm-projects>
			
			<div class="mt2-mt3 mt-clear nav-appendix">
				<ul class="caption inlinelist">
					<li class="nav-appendix-item">
						<a class="nav-appendix-link" href="" ng-href="/profile">profile</a>
					</li>
					<li class="nav-appendix-item">
						<a class="nav-appendix-link" href="" ng-href="mailto:milos@citrus-mist.com">contact</a>
					</li>
					<li class="nav-appendix-item">
						<a class="nav-appendix-link" href="" ng-href="http://twitter.com/citrusmist">twitter</a>
					</li>
				</ul>
			</div>
		</nav>
		
	</div>

		
	<div class="w6 header-logomark2">
		<cm-logomark href="/" class="header-logomark2-img"></cm-logomark>
	</div>
	<cm-header-toggle class="mt-hide header-toggle"></cm-header-toggle>
</header>