<header class="home clearfix">

	<cm-projects class="projects"></cm-projects>

	<div class="profile wr5 caption">
		<p>
			Citrus Mist is a design and
			development studio of Milos Soskic. 
		</p>
		<p>
			The studio specialises in graphic and interactive
			although services on offer aren’t limited 
			only to those disciplines.
		</p>
		<p>
			By experimenting, tinkering and challenging [something, something]
		</p>
	</div>

	<span class="w2-w3 ir sprite sprite--logotype home-logotype"></span>
	<span class="wr5 sprite sprite--logomark home-logomark"></span>
</header>