<div class="home clearfix">
	<ul class="project-list plainlist w2-w5">
		<li class="project-item">
			<span class="project-discipline caption">Web Design</span>
			<h2 class="project-title">
				<a class="project-link" href="" ng-href="">Mosaica Restaurant</a>
			</h2>
		</li>
		<li class="project-item">
			<span class="project-discipline caption">Web Design</span>
			<h2 class="project-title">
				<a class="project-link" href="" ng-href="">Amalgam Studios</a>
			</h2>
		</li>
		<li class="project-item">
			<span class="project-discipline caption">Identity Design</span>
			<h2 class="project-title">
				<a class="project-link" href="" ng-href="">Surround Speakers Boutique</a>
			</h2>
		</li>
		<li class="project-item">
			<span class="project-discipline caption">Identity Design</span>
			<h2 class="project-title">
				<a class="project-link" href="" ng-href="">High Rise Theatre</a>
			</h2>
		</li>
		<li class="project-item">
			<span class="project-discipline caption">Print Design</span>
			<h2 class="project-title">
				<a class="project-link" href="" ng-href="">Waha Wera</a>
			</h2>
		</li>
	</ul>

	<div class="project-preview"></div>

	<div class="profile wr5 caption">
		<p>
			Citrus Mist is a design and
			development studio of Milos Soskic. 
		</p>
		<p>
			The studio specialises in interface and web design 
			although services on offer aren’t limited 
			only to those disciplines.
		</p>
		<p>
			By experimenting, tinkering and challenging [something, something]
		</p>
	</div>
</div>