<div class="home clearfix">

	<cm-projects class="projects">

		<ul class="projects-list w2-w5 plainlist">
			<li class="projects-item">
				<span class="project-discipline caption">Web Design</span>
				<h2 class="projects-title">
					<a class="project-link" href="" ng-href="" data-thumb=".projects-preview-mosaica">
						Mosaica Restaurant
					</a>
				</h2>
			</li>
			<li class="projects-item">
				<span class="project-discipline caption">Web Design</span>
				<h2 class="projects-title">
					<a class="project-link" href="" ng-href="" data-thumb=".projects-preview-amalgam">
						Amalgam Studios
					</a>
				</h2>
			</li>
			<li class="projects-item">
				<span class="project-discipline caption">Identity Design</span>
				<h2 class="projects-title">
					<a class="project-link" href="" ng-href="" data-thumb=".projects-preview-ss">
						Surround Speakers Boutique
					</a>
				</h2>
			</li>
			<li class="projects-item">
				<span class="project-discipline caption">Identity Design</span>
				<h2 class="projects-title">
					<a class="project-link" href="" ng-href="" data-thumb=".projects-preview-hrt">
						High Rise Theatre
					</a>
				</h2>
			</li>
			<li class="projects-item">
				<span class="project-discipline caption">Print Design</span>
				<h2 class="projects-title">
					<a class="project-link" href="" ng-href="" data-thumb=".projects-preview-ww">
						Waha Wera
					</a>
				</h2>
			</li>
		</ul>
		
		<cm-projects-preview class="projects-preview">

			<div class="projects-preview-wrap">
				<div class="projects-preview-mosaica">
					<img class="projects-preview-thumb" src="/images/mosaica-hero-1000x599.jpg" alt="">
				</div>
				<div class="projects-preview-amalgam">
					<img class="projects-preview-thumb" src="/images/amalgam-hero-1000x599.jpg" alt="">
				</div>
				<div class="projects-preview-ss">
					<img class="projects-preview-thumb" src="/images/ss-hero-1000x599.png" alt="">
				</div>
				<div class="projects-preview-hrt"></div>
				<div class="projects-preview-ww"></div>
			</div>
		</cm-projects-preview>
	</cm-projects>

	<div class="profile wr5 caption">
		<p>
			Citrus Mist is a design and
			development studio of Milos Soskic. 
		</p>
		<p>
			The studio specialises in graphic and interactive
			although services on offer aren’t limited 
			only to those disciplines.
		</p>
		<p>
			By experimenting, tinkering and challenging [something, something]
		</p>
	</div>

	<span class="w2-w3 ir sprite sprite--logotype home-logotype"></span>
	<span class="wr5 sprite sprite--logomark home-logomark"></span>
</div>