<article class="project clearfix w-all hentry">

	<header class="project-header w-clear">
		<div class="mt-padinfull w3-w5">
			<div class="project-header-wrap">
				<cm-project-credits class="project-header-section caption"></cm-project-credits>
				<div class="project-header-section project-summary caption">{{project.postExcerpt}}</div>
				<div class="project-header-controls mt-hide">
					<a ng-href="/" class="project-close sprite sprite--close alignright"></a>
				</div>
			</div>
		</div>
	</header>

	<div class="project-title mt-clear mt-padinfull mt2-mt3 wr4-wr5 wr-clear">
		<div class="project-title-wrap">
			<h1 class="project-title-text">{{project.postTitle}}</h1>
		</div>
	</div>

	<figure class="project-figure project-hero mt-all w-clear {{project.heroAttrs.class}}">
		<img src="" alt="" class="project-hero-img" ng-src="{{project.thumbnail.large}}">
	</figure>

	<div class="w-clear mt-all mt-padinfull w-all project-body" 
		ng-bind-html="trustAsHtml(project.postContent)">
	</div>
</article>
