html {
  height: 100%;
}

body {
  background: #f8fefc;
  min-height: 100%; 
}

.header {
  background: $cm-green;
  height: 100%;
  left: 0%;
  position: absolute;
  width: 100%;
  z-index: 100;

  @include single-transition();

  .header-wrap {
    height: inherit;
  }
}

.header--isSecondary {
  // left: -92.3495%;  //include gutter
  // left: -94.2878%;  //exclude gutter
  position: fixed;
  @include translate3d(-94.2878%, 0, 0);

  .projects-list {
    @include gs-span(w, 5);
  }

  .profile,
  .header-logomark,
  .header-logotype {
    opacity: 0;
  }

  .projects--isActive {
    .projects-preview {
      top: 17%;
      bottom: auto;

      width: #{gs-width('et', 2, false, false, true)};
      @include experimental-value(margin-left, calc(#{gs-marginleft('et', 2, false, true)} + 26.1820666% - #{$preview-padding}px)); 
    }
  }

  &.header--isActive {
    @include translate3d(-26.1820666%, 0, 0);
  }
}

.header-toggle {
  opacity: 0;
  position: absolute;
  right: 2.2em;
  top: 1.25rem;
  cursor: pointer;

  @include single-transition();
  @include transform-origin(top, right);
  @include rotateZ(-90deg);
}

.header-logomark2,
.header-logomark,
.header-logotype {
  @extend %btmalign;
}

.header-logomark {
  z-index: 1;
}

.header-logomark2 {
  opacity: 0;
  z-index: 1;
  
  @include single-transition();
  
  .header-logomark2-img {
    padding: 0 0 0 18%;
    width: 75%;
  }
}

.header--isSecondary {
  .header-toggle {
    opacity: 1;
  }
  .header-logomark2 {
    opacity: 1;
  }
}

.projects {
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
}

.projects--isActive {
  .projects-preview {
    height: 66.66666%;
    margin-right: -110%;
    padding: #{$preview-padding}px;
    width: #{gs-width('w', 5, false, false, true)};
    z-index: 100;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    @include experimental-value(margin-left, calc(#{gs-marginleft('w', 5, false, true)} - #{$preview-padding}px)); 
  }
}

.projects-preview {
  @extend %btmalign;
  background-color: $cm-white;
  overflow: hidden;
  width: 0;
  height: 0;
  float: left; 
  @include single-transition();
}

.projects-preview--isActive {
  .projects-preview-wrap { 
    opacity: 1;
  }
}

.projects-preview-wrap {
  opacity: 0;
  position: relative;
  @include single-transition();
}

.projects-preview-thumb {
  width: 100%;
  margin-bottom: $preview-padding * 2 + px;;            //2x .projects-preview padding
}

.projects-list {
  position: relative;
  top: 17%;
  z-index: 200;
  list-style: none outside;
  padding: 0;
  @include gs-span(w, 2, 5);
}

.projects-discipline {
  margin: 0 0 0 -20px;
}

.projects-item .projects-title {
  line-height: 1;
  margin: 0 0 .375em;
}

.projects-link {
  color: $cm-gray--dark;
  @include single-transition();

  &:hover {
    color: $cm-purple;
  }
}

.profile {
  position: relative;
  top: 4.625%;
}

.content {
  overflow: hidden;
  position: relative;
  z-index: 0;
  position: absolute;
  width: 100%;

  &.ng-enter {
    opacity: 0;
    @include single-transition($default-transition-property, $default-transition-duration, linear, 1s);
  }

  &.ng-enter.ng-enter-active {
    opacity: 1;
  }

  &.ng-leave {
    // opacity: 1;
    // @include single-transition();
    @include single-transition($default-transition-property, $default-transition-duration, linear, $default-transition-delay);
  }

  &.ng-leave.ng-leave-active {
    opacity: 0;
  }
}

.project {
  padding: 1.25em 0 2.5em;
}

.project-summary {
  &:before {
    content: '__';
    display: inline;
  }
}

.project-header-wrap {
  float: right;
}

.project-header-section {
  float: left;
}

.project-header-controls {
  float: right;
  margin-left: 1.6777%;
  min-width: 42px;
  width: 5.5%;
  margin-top: 0.25em;
}

.project-summary {
  margin-left: 1.6777%;
  width: 44.44444%;
}

.project-credits {
  width: 33.33333%;
  dd {
    margin: 0;
  }
}

.project-title {
  // margin-top: 2.8125em;
  // margin-top: 2.8125rem;
  margin-top: 1.875em;
  margin-top: 1.875rem;
}

.project-title-wrap {
  display: inline-block;
}

.project-title-decoration {
  display: block;
  margin-bottom: 2px;

  &:before {
    content: '';
    display: inline-block;
    border-bottom: 1px solid $cm-gray--dark;
    margin-left: -20px;
    width: 66.666%;
  }
}

.project-title-text {
  margin: 0;
  position: relative;
  z-index: 100;
}

.project-body {

  p {
    margin: 0;
  }

  p:last-of-type {
    margin-bottom: 1.8181818181818em;
  }

  p+p {
    text-indent: 2em;
  }
}


.project-hero-img {
  display: block;
  margin-top: -1.75em;
  position: relative;
  z-index: 0;
}

.project-credits {
  margin: 0;
}

.project-figure {
  margin-bottom: 1.8181818181818em;
  position: relative;

  img {
    width: 100%;
  }
}

.project-figure-caption {
  
  position: absolute;
  width: 103px;

  &.caption--keeplayout {
    position: static;
    
    &.caption--bottomright { 
      float: right;
      margin-top: .71428571428571em;
    }
  }

  &.caption--bottomright { 
    right: 0;
    top: 100%;
    @include experimental-value(top, calc(100% + 1em));
  }

  &.caption--topleft { 
    bottom: 101%;
    left: 0;
    @include experimental-value(bottom, calc(100% + 1em));
  }
}