
@media only screen and (min-width: 81em) {
  .longform,
  .project-body {
    font-size: 21px;
    font-size: 1.3125rem;
    line-height: 1.33333333333333; //28px 
  }

  .project-body {
    p:last-of-type {
      margin-bottom: 1.36363636363636em; //28px
    }

    p + .project-figure {
      margin-top: 1.36363636363636em; 
    }
  }

  .project-figure { 
    margin-bottom: 1.75em; //28px
  }

  .caption,
  .project-figure-caption {
    line-height: 1.14285714285714; //16px
  }

  // .project-figure-caption {
  
  //   &.caption--keeplayout {
  //     &.caption--belowright { 
  //       margin-top: .71428571428571em;
  //     }
  //   }

  //   &.caption--belowright { 
  //     @include experimental-value(top, calc(100% + 1em));
  //   }

  //   &.caption--aboveleft { 
  //     @include experimental-value(bottom, calc(100% + 1em));
  //   }
  // }
}

//Type adjustments for screens wider > 1568px and taller > 800px (root em = 16px)
@media only screen and (min-width: 94em) {

  h1,
  .h1 {
    font-size: 72px;
    font-size: 4.5rem;
  }

  .longform,
  .project-body {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 1.36363636363636; //30px 
  }

  .project {
    padding: 2.1875em 0 3.75em;
  }

  .project-body {
    p:last-of-type {
      margin-bottom: 1.36363636363636em; //30px
    }

    p + .project-figure {
      margin-top: 1.36363636363636em; 
    }
  }

  .project-figure { 
    margin-bottom: 1.875em; //30px
  }

  .project-title {
    margin-top: 3em;  
  }

  .project-hero-img {
    margin-top: -2.2em;
  }

  .caption,
  .project-figure-caption {
    line-height: 1.125; //16/18px
    font-size: 1rem;
  }

  .project-figure-caption {
  
    &.caption--keeplayout {
      &.caption--belowright { 
        margin-top: .71428571428571em;
      }
    }

    &.caption--belowright { 
      @include experimental-value(top, calc(100% + 1em));
    }

    &.caption--aboveleft { 
      @include experimental-value(bottom, calc(100% + 1em));
    }
  }
}

@media only screen and (min-width: 103em) {
  .longform,
  .project-body {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.3333333333333; //32px 
  }
  
  .project-body {
    p:last-of-type {
      margin-bottom: 1.3333333333333; //30px
    }

    p + .project-figure {
      margin-top: 1.3333333333333; 
    }
  }

  .project-figure { 
    margin-bottom: 2em; //32px
  }
}

@media only screen and (min-width: 94em) and (min-height:50em) { 

  h2, 
  .h2 {
    font-size: 3rem;
  }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
