@media only screen and (min-width: 27em) {

  h1, .h1 {
    font-size: 48px;
    font-size: 3rem;
  }

  .project-hero-img {
    margin-top: -1.45em;
  }

  .project-title-decoration {
    position: static;
    margin-bottom: 2px;
    @include rotateZ(0);
  }
}

@media only screen and (max-width: 768px) { 
  .header-profile {
    max-width: 354px;
  }
}

@media only screen and (min-width: 769px) { 
  
  #mqOutput:after { 
    content: "medium";
  }

  %btmalign {
    bottom: 4%;
    position: absolute;
  }

  .header-profile {
    max-width: 335px;

    p {
      margin-bottom: 1.14285714285714em;
    }
  }

  .header-profilre-cta {
    display: block;
    margin-top: 1.71428571428571em;
  }

  h1, 
  .h1 {
    font-size: 58px;
    font-size: 3.625rem;
  }

  h2, 
  .h2 {
    font-size: 40px;
    font-size: 2.5rem;
  }

  .caption,
  .project-figure-caption {
    line-height: 1.07142857142857;
  }

  .longform,
  .project-body {
    // font-size: 21px;
    // font-size: 1.312
    // line-height: 1.28571428571428; //27px
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 200;
    line-height: 1.35; //27px

    .w4,
    .wr5 {
      p {
        line-height: 1.25; //25px
      }
    }
  }

  .header {
    background: $cm-green;
    left: 0;
    padding: 0;
    position: fixed;
    z-index: 1000;

    @include single-transition(transform, .8s);
    @include translate3d(-94.2878%, 0, 0);

    .header-wrap {
      height: inherit;
    }
  }

  .header--isPrimary {
    @include translate3d(0, 0, 0);

    .projects--isActive {
      .projects-preview {
        width: #{gs-width('w', 5, false, false, true)};
        @include experimental-value(margin-left, calc(#{gs-marginleft('w', 5, false, true)} - #{$preview-padding}px)); 
      }
    }
  }

  .header--isSecondary {
    // left: -92.3495%;  //include gutter
    // left: -94.2878%;  //exclude gutter
    
    max-width: $max-width;

    .header-identity {
      position: static;
    }

    .projects-list {
      @include gs-span(w, 5);
    }

    .header-profile,
    .header-logomark,
    .header-logotype {
      opacity: 0;
    }

    .header-toggle,
    .header-logomark2 {
      opacity: 1;
      @include single-transition(all, .16s);
    }

    .header-toggle {
      padding-top: 0;
    }

    .nav-appendix {
      margin-left: #{gs-marginleft(w, 5) - gs-width(w, 1) - gs-gutter(w) + '%'};
    }

    .projects-preview {
      top: 17%;
      bottom: auto;
    }

    .projects--isActive {
      .projects-preview {
        width: #{gs-width('et', 2, false, false, true)};
        @include experimental-value(margin-left, calc(#{gs-marginleft('et', 2, false, true)} + 26.1820666% - #{$preview-padding}px)); 
      }
    }

    &.header--isActive {
      @include translate3d(-26.1820666%, 0, 0);

      .header-wrap {
        @include transform(none);
      }

      & + .content {
        // position: absolute;
      }
    }

    &.header--isHidden {
      .header-identity {
        @include transform(none);
      }
    }
  }

  .header-wrap {
    position: static;
    background: transparent;
    padding: 0;
    @include transform(none);
    overflow-y: auto;
  }

  .header-toggle {
    left: auto;
    right: 2.2em;
    top: 1.25rem;
    width: auto;
    height: auto;

    @include transform-origin(top, right);
    @include rotateZ(-90deg);
  }
  
  .header-identity {
    position: static;
    background-color: transparent;
    width: auto;
    padding: 0;
  }

  // .header-logomark2,
  .header-logomark2,
  .header-logomark,
  .header-logotype {
    @extend %btmalign;
  }

  // .header-logomark{
  //   svg {
  //     max-height: none;
  //   }
  // }

  .header-logotype {
    top: auto;
  }

  .header-logomark {
    top: auto;
    z-index: 1;
  }

  .header-logomark-wrap {
    width: 100%;
    float: none;
    max-width: 191px;
    padding-bottom: 0;
    position: static;
  }

  .header-logotype-wrap {
    max-width: 136px;
    width: 100%;
  }

  .header-logomark2 {
    z-index: 1;
    
    @include single-transition();
  }

  .header-logomark2-img {
    bottom: 0;
    position: absolute;
    padding: 0 0 0 19%;
    width: 90%;
    // padding: 0 0 0 19%;
    // width: 90%;
    // position: relative;
    // bottom: 0;
    // z-index: 1000;
    // pointer-events: none;
  }
  
  .projects {
    // height: 100%;
    // left: 0;
    // top: 0;
    // position: absolute;
    // width: 100%;
  }

  .projects--isActive {
    .projects-preview {
      height: 66.66666%;
      margin-right: -110%;
      padding: #{$preview-padding}px;
      z-index: 100;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
    }
  }

  .projects-item .projects-title {
    margin-left: 0;
  }

  .projects-preview {
    @extend %btmalign;
    background-color: $cm-white;
    overflow: hidden;
    width: 0;
    height: 0;
    float: left; 
    @include single-transition();
  }

  .projects-preview--isActive {
    .projects-preview-wrap { 
      opacity: 1;
    }
  }

  .projects-preview-wrap {
    opacity: 0;
    position: relative;
    @include single-transition(all, .64s);
  }

  .projects-preview-thumb {
    width: 100%;
    margin-bottom: $preview-padding * 2 + px;;            //2x .projects-preview padding
  }

  .projects-list {
    position: absolute;
    top: 17%;
    z-index: 200;
    
    @include gs-span(wr, 2, 4);
  }

  .projects-discipline {
    margin: 0 0 0 -20px;
  }

  .projects-link {
    color: $cm-gray--dark;
    @include single-transition();

    &:hover {
      color: $cm-purple;
    }
  }

  .nav-appendix {
    @extend %btmalign;
    margin: 0;
    position: absolute;
    @include gs-span(w, 5);
  }

  .header-profile {
    position: absolute;
    top: 5.625%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .content {
    top: 0;
    max-width: $max-width;

    &.ng-enter {
      opacity: 0;
      @include single-transition($default-transition-property, .64s, linear, .48s);
    }

    &.ng-enter.ng-enter-active {
      opacity: 1;
    }

    &.ng-leave {
      // opacity: 1;
      // @include single-transition();
      @include single-transition($default-transition-property, .64s, linear, .16s);
    }

    &.ng-leave.ng-leave-active {
      opacity: 0;
    }
  }

  .project {
    padding: 1.25em 0 2.5em;
  }

  .project-header-wrap {

    //TODO: use mixin for this as this now just copied from et3 class
    // margin-left: 67.77777333%;
    // margin-right: -100%;
    margin-left: 0;
    margin-right: 0;
    width: 32.22222667%;
    display: block;
    float: right;
    clear: none;
    min-width: 269px;
  }

  .project-header-section {
    float: left;
  }

  .project-hero-img {
    margin-top: -1.75em;
  }

  .project-header-controls {
    float: right;
    margin-left: 1.6777%;
    min-width: 42px;
    width: 5.5%;
    margin-top: 0.25em;
  }

  .project-summary {
    margin-left: 1.6777%;
    width: 44.44444%;
  }

  .project-credits {
    width: 33.33333%;
    dd {
      margin: 0;
    }
  }

  .project-title {
    // margin-top: 2.8125em;
    // margin-top: 2.8125rem;
    margin-top: 1.875em;
    margin-top: 1.875rem;
  }

  .project-body {
    p {
      text-indent: 2em;
    }
  }

  .project-credits {
    margin: 0;
  }

  .project-figure {
    margin-bottom: 1.6875em; //27px
  }

  .project-figure-caption {
    
    position: absolute;
    width: 103px;

    &.caption--keeplayout {
      position: static;
      
      &.caption--belowright { 
        float: right;
        margin-top: .42857142857142em;
      }
    }

    &.caption--topleft { 
      right: 100%;
      top: 0;
      @include experimental-value(right, calc(100% + 1em));
    }

    &.caption--bottomright { 
      bottom: 0;
      left: 100%;
      @include experimental-value(left, calc(100% + .42857142857142em));
    }

    &.caption--belowright { 
      right: 0;
      top: 100%;
      @include experimental-value(top, calc(100% + .42857142857142em));
    }

    &.caption--aboveleft { 
      bottom: 101%;
      left: 0;
      @include experimental-value(bottom, calc(100% + .42857142857142em));
    }

    &.caption--aboveright { 
      bottom: 101%;
      right: 0;
      @include experimental-value(bottom, calc(100% + .42857142857142em));
    }
  }

  .page--profile {
    padding-top: 8.859375em;
  }
}



@media only screen and (min-width: 81em) {
  
  #mqOutput:after { 
    content: "wide";
  }

  .longform,
  .project-body {
    font-size: 21px;
    font-size: 1.3125rem;
    line-height: 1.33333333333333; //28px 

    .w4,
    .wr5 {
      p {
        line-height: 1.23809523809523; //26px
      }
    }
  }

  .project-body {
    p:last-of-type {
      margin-bottom: 1.36363636363636em; //28px
    }

    p + .project-figure {
      margin-top: 1.36363636363636em; 
    }
  }

  .project-figure { 
    margin-bottom: 1.75em; //28px
  }

  .caption,
  .project-figure-caption {
    line-height: 1.14285714285714; //16px
  }

  // .project-figure-caption {
  
  //   &.caption--keeplayout {
  //     &.caption--belowright { 
  //       margin-top: .71428571428571em;
  //     }
  //   }

  //   &.caption--belowright { 
  //     @include experimental-value(top, calc(100% + 1em));
  //   }

  //   &.caption--aboveleft { 
  //     @include experimental-value(bottom, calc(100% + 1em));
  //   }
  // }
}

//Type adjustments for screens wider > 1568px and taller > 800px (root em = 16px)
@media only screen and (min-width: 94em) {

  h1,
  .h1 {
    font-size: 72px;
    font-size: 4.5rem;
  }

  .header-toggle {
    top: 2.1875rem;
  }

  .project-title-decoration {
    margin-bottom: 4px;
  }

  .longform,
  .project-body {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 1.36363636363636; //30px 

    .w4,
    .wr5 {
      p {
        line-height: 1.27272727272727; //28px
      }
    }
  }

  .header-profile {
    p {
      margin-bottom: 1.125em;
    }
  }

  .header-profile-cta {
    margin-top: 1.6875em;
  }

  .project {
    padding: 2.1875em 0 3.75em;
  }

  .project-body {
    p:last-of-type {
      margin-bottom: 1.36363636363636em; //30px
    }

    p + .project-figure {
      margin-top: 1.36363636363636em; 
    }
  }

  .project-figure { 
    margin-bottom: 1.875em; //30px
  }

  .project-hero-img {
    margin-top: -2.2em;
  }

  .caption,
  .project-figure-caption {
    line-height: 1.125; //16/18px
    font-size: 1rem;
  }

  .project-figure-caption {
  
    &.caption--keeplayout {
      &.caption--belowright { 
        margin-top: .71428571428571em;
      }
    }

    &.caption--belowright { 
      @include experimental-value(top, calc(100% + 1em));
    }

    &.caption--aboveleft { 
      @include experimental-value(bottom, calc(100% + 1em));
    }
  }
  

  .page {
    padding-bottom: 5.90625em;
  }

  .page--profile {
    padding-top: 10.9375em;

    h1,
    .h1 {
      line-height: 1.08620689655172;
    }
  }


  .profile-intro {
    margin-bottom: 5.3030303030303em;

  }

  .profile-value {
    margin-bottom: 5.3030303030303em;
  }

  .profile-services-title {
    margin-bottom: .68181818181818em;
  }

  .profile-services-item {
    margin-top: .0.22727272727272em;
  }

  .profile-services {
    .h6 {
      margin-top: 1.36363636363636;
    }   
  }


  .profile-clients {
    margin-top: 5.3030303030303em;
    margin-bottom: 5.3030303030303em;

    p {
      margin-bottom: 1.36363636363636;
    }
  }

  .profile-clients-logos {
    max-width: 970px;
  }

}

@media only screen and (min-width: 103em) {

  // 34px line-height
  // .longform,
  // .project-body {
  //   font-size: 24px;
  //   font-size: 1.5rem;
  //   line-height: 1.41666666666666; //34px 
  // }
  
  // .project-body {
  //   p:last-of-type {
  //     margin-bottom: 1.41666666666666; //34px
  //   }

  //   p + .project-figure {
  //     margin-top: 1.41666666666666; 
  //   }
  // }

  // .project-figure { 
  //   margin-bottom: 2.125em; //34px
  // }

  // .project {
  //   padding: 2.375em 0 3.9375em;
  // }

  // .caption, .project-figure-caption {
  //   line-height: 1.1875;
  // }
  

  .longform,
  .project-body {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.3333333333333; //32px 
  }
  
  .project-body {
    p:last-of-type {
      margin-bottom: 1.3333333333333; //32px
    }

    p + .project-figure {
      margin-top: 1.3333333333333; 
    }

    .w4,
    .wr5 {
      p {
        line-height: 1.25;
      }
    }
  }

  .project-figure { 
    margin-bottom: 2em; //32px
  }

  .project-figure-caption { 

    &.caption--topleft { 
      @include experimental-value(right, calc(100% + 1em));
    }

    &.caption--bottomright { 
      @include experimental-value(left, calc(100% + 1.125em));
    }
  }

}

@media only screen and (min-width: 94em) and (min-height:50em) { 

  h2, 
  .h2 {
    font-size: 3rem;
  }

  .header-logotype-wrap {
    max-width: 148px;
  }
}

@media only screen and (min-height: 53em) {

  .header-profile {
    top: 8%;
  }

  .projects-list {
    top: 18.75%;
  }

  .projects-item .projects-title {
    margin-bottom: .5em;
  }

  .header-logomark2,
  .header-logomark,
  .header-logotype,
  .projects-preview,
  .nav-appendix {
    bottom: 2.5%;
  }
}

@media only screen
  and (orientation : portrait)
  and (-webkit-min-device-pixel-ratio : 1.5),
  only screen 
  and (orientation : portrait)
  and (min-device-pixel-ratio : 1.5) {
  
  .longform,
  .project-body {
    font-weight: 300;
  }


  .caption,
  .project-figure-caption {
    font-weight: 300;
  }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
