body{
  font-family: "ff-basic-gothic-web-pro", sans-serif;
  color: $cm-gray--dark;
}

h1, .h1{
  font-family: "ff-spinoza-web-pro", serif;
  font-size: 58px;
  font-size: 3.625rem;
  font-weight: normal;
}

h2, .h2{
  font-family: "ff-spinoza-web-pro", serif;
  font-size: 40px;
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -0.25px;
  word-spacing: -1px;
}

h3, .h3{

}

a{
  color: $cm-purple;
  text-decoration: none;
}

.longform{
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.36363636363636; //30px
}

.caption{
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.07142857142857;
}

html{
  height: 100%;
}

body{
  min-height: 100%; 
  background: $cm-green;
}

.home{
  position: absolute;
  width: 100%;
  height: 100%;
}

.projects {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.projects--isActive {
  .projects-preview {
    height: 66.66666%;
    margin-right: -110%;
    padding: #{$preview-padding}px;
    width: 51.4097%;
    z-index: 100;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    @include experimental-value(margin-left, calc(40.9398% - #{$preview-padding}px)); 
  }
}

.projects-preview {
  @extend %btmalign;
  background-color: $cm-white;
  overflow: hidden;
  width: 0;
  height: 0;
  float: left; 
  @include single-transition();
}

.projects-preview--isActive {
  .projects-preview-wrap { 
    opacity: 1;
  }
}

.projects-preview-wrap {
  opacity: 0;
  position: relative;
  @include single-transition();
}

.projects-preview-thumb {
  width: 100%;
  margin-bottom: $preview-padding * 2 + px;;            //2x .projects-preview padding
}

.projects-list {
  position: relative;
  top: 17%;
  z-index: 200;
}

.project-discipline{
  margin: 0 0 0 -20px;
}

.projects-item .projects-title {
  line-height: 1;
  margin: 0 0 15px;
}

.project-link {
  color: $cm-gray--dark;
  @include single-transition();
  &:hover {
    color: $cm-purple;
  }
}

.profile {
  position: relative;
  top: 4.625%;
}

.home-logomark,
.home-logotype {
  @extend %btmalign;
}

.home-logomark {
  z-index: 1;
}