body {
  font-family: "ff-basic-gothic-web-pro", sans-serif;
  color: $cm-gray--dark;
}

h1, .h1 {
  font-family: "ff-spinoza-web-pro", serif;
  font-size: 42px;
  font-size: 2.625rem;
  line-height: 1.07758620689655;
  font-weight: normal;
  letter-spacing: -0.25px;
  word-spacing: -1px;
}

h2, .h2 {
  font-family: "ff-spinoza-web-pro", serif;
  font-size: 32px;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: -0.25px;
  word-spacing: -1px;
}

h3, .h3 {

}

h6, 
.h6 {
  font-weight: 200;
  font-size: inherit;
  text-decoration: underline;
}

a {
  color: $cm-purple;
  text-decoration: none;
}

.longform,
.project-body {
  // font-size: 21px;
  // font-size: 1.312
  // line-height: 1.28571428571428; //27px
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.2222222; //22px
}

.caption,
.project-figure-caption {
  font-weight: 200;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14285714285714;
}

.header {
  h6,
  .h6,
  .caption {
    font-weight: 300;
  }
}

.outdent {
  margin-left: -20px;
}

.green {
  color: $cm-green;
}
