body {
  font-family: "ff-basic-gothic-web-pro", sans-serif;
  color: $cm-gray--dark;
}

h1, .h1 {
  font-family: "ff-spinoza-web-pro", serif;
  font-size: 58px;
  font-size: 3.625rem;
  line-height: 1.07758620689655;
  font-weight: normal;
  letter-spacing: -0.25px;
  word-spacing: -1px;
}

h2, .h2 {
  font-family: "ff-spinoza-web-pro", serif;
  font-size: 40px;
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -0.25px;
  word-spacing: -1px;
}

h3, .h3 {

}

a {
  color: $cm-purple;
  text-decoration: none;
}

%longform {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 200;
  line-height: 1.36363636363636; //30px
}

.longform,
.project-body {
  @extend %longform;
}
  
.caption,
.project-figure-caption {
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.07142857142857;
}

